{% extends 'basic.html' %}
{% block title %}about{% endblock title %}

{% block content%}

<div class="container mt-6  p-3 d-flex justify-content-center"> 
    
        <div class=" image d-flex flex-column justify-content-center align-items-center"> 
            
                <img src="../static/assets/img/apple-touch-icon.png" class="image-fluid" alt="checkout">
            
            <h1>GadgetBazar</h1> 
            <h3> Modern Ghar Ki Digital Dukaan</h3>
            
        </div> 
   
</div>

{% endblock content%}

{% block body %}
<div class="container mt-3  p-3  justify-content-center">
  
    <h2> ABOUT <img src="../static/assets/img/about.png" class="image-fluid" alt="about"></h2>


    <p class="h5 text-wrap"> 
        GadgetBazar is a dynamic and innovative online retailer specializing in electronic items. 
        As a leading player in the e-commerce industry, GadgetBazar offers an extensive range of electronic 
        products, gadgets, and accessories to tech-savvy consumers worldwide. Founded on a commitment to 
        quality, convenience, and cutting-edge technology, GadgetBazar has quickly become a trusted destination
        for all things electronic.
    </p>

    <br><br>
    <h2> OUR PARTENERS</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="../static/assets/img/panasonic.png" alt="Image 1" class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="../static/assets/img/samsung.png" alt="Image 2" class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="../static/assets/img/lg.png" alt="Image 3" class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="../static/assets/img/haier.png" alt="Image 4" class="img-fluid">
            </div> 
        </div>
    </div>

    <h2> Payment Partener</h2><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="../static/assets/img/Razorpay.png" alt="Image 1" class="img-fluid">
            </div>
        </div>
    </div>
<br>
<br><br>
</div>
{% endblock body %}
